[submodule "themes/m10c"]
	path = themes/m10c
	url = git@github.com:vaga/hugo-theme-m10c.git
[submodule "themes/lithium"]
	path = themes/lithium
	url = git@github.com:jrutheiser/hugo-lithium-theme.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = git@github.com:AngeloStavrow/indigo.git
[submodule "themes/simple-a"]
	path = themes/simple-a
	url = git@github.com:AlexFinn/simple-a.git
